<h2 class="text-center fw-bold my-3" style="color: #17a2b8">DANH SÁCH SINH VIÊN </h2>
<div class="p-3 " style="min-height: 58vh">
  <div class="row mt-3">
    <div style="margin-left: 50px" class="col-2 ">

    </div>
    <div class="col-4"></div>
    <div class="col-4 col-sm-4">
      <input style="margin-bottom: 15px; margin-left: 10px" type="text"
             #studentName
             class="form-control rounded-pill mt-2" id="title"
             placeholder="Nhập tên sinh viên cần tìm..."
             onfocus="this.style.borderColor='#14a2b8';this.style.boxShadow='none';this.style.outline='2px solid #14a2b8';"
             onblur="this.style.borderColor='#ced4da';this.style.outline='none';"
             [(ngModel)]="nameSearch">
    </div>
    <div class="col-1">
      <button class="btn btn-outline-primary w-100 mt-2 "
              style=" margin-left: 16px; "
              (click)="searchStudent()"
      >
        Tìm kiếm
      </button>

    </div>


  </div>


  <div class="row row-cols-1 row-cols-md-4 g-4" style="margin-left: 40px;margin-right: 30px"
       *ngIf="studentInfoList.length!=0,else elseBlock">
    <!--1-->
    <div class="col" *ngFor="let item of studentInfoList">
      <div class="card" style="background-color: #ECECEC;" >
        <img src="{{item.imgStudent}}"
             class="card-img-top" alt="..." height="370px">


        <div class="card-body" >

          <h5 class="card-title" style="text-align: center;">{{item.nameStudent}}</h5>

          <div>
            <!--            <img src="img/icons8-id-verified-24.png" height="24" width="24"/>-->
            <img style="margin-left: -10px; margin-right: 5px" src="../../../../assets/img/icons8-id-verified-24.png" height="24" width="24"/>
            <span style="font-weight:bold; padding-right: 5px">Mã sinh viên:</span>
            <span>{{item.codeStudent}}</span>
          </div>
          <div>
            <img style="margin-left: -10px" src="../../../../assets/img/icons8-class-48.png" height="30" width="30"/>
            <!--            <img src="img/icons8-class-48.png" height="30" width="30"/>-->
            <span style="font-weight:bold; padding-right: 5px">Lớp:</span>
            <span>{{item.nameClazz}}</span>
          </div>
          <div>

            <img style="margin-left: -7px; margin-right: 5px" src="../../../../assets/img/icons8-sign-mail-24.png" height="20" width="20"/>
            <!--            <img style="margin-left: 2px" src="img/icons8-sign-mail-24.png" height="20" width="20  "/>-->
            <span style="font-weight: bold; padding-right: 5px">Email:</span>
            <span>{{item.emailStudent}}</span>
          </div>
          <div>

            <img style="margin-left: -7px; margin-right: 5px" src="../../../../assets/img/icons8-phone-24.png" height="20" width="20"/>
            <!--            <img style="padding-left: 3px" src="img/icons8-phone-24.png" height="20" width="20"/>-->
            <span style="font-weight:bold; padding-right: 5px">SĐT:</span>
            <span>{{item.phoneNumberStudent}}</span>

          </div>
          <div style="padding-top: 5px;margin-bottom: -15px">




            <!--            <img src="img/icons8-training-24.png" height="24" width="24"/>-->
            <img  style="margin-left: -7px;margin-right: 5px"  src="../../../../assets/img/icons8-training-24.png" height="24" width="24"/>
            <span style="font-weight: bold; padding-right: 5px">GV :</span>
            <span>{{item.nameTeacher}}</span>

          </div>



        </div>
      </div>
    </div>
  </div>
  <ng-template #elseBlock><h4 style="text-align: center;color: #ff0000">Không có sinh viên cần tìm</h4></ng-template>


</div>

<div style="margin-left: 40%">
  <div class="row" style="padding: 0; margin: 0" *ngIf="studentInfoList.length!=0">
    <div class="col- 8"></div>
    <div *ngIf="studentInfoPage" class="col- 4">
      <ul class="pagination">
        <li class="page-item" [ngClass]="studentInfoPage.first ? 'disabled': ''">
          <a role="button" class="page-link" (click)="changePage(0)">Trang đầu</a>
        </li>
        <li class="page-item" [ngClass]="studentInfoPage.first ? 'disabled': ''">
          <a role="button" class="page-link" (click)="changePage(studentInfoPage.number - 1)"><</a>
        </li>
        <li class="page-item" *ngIf="studentInfoPage.number - 3 > 0">
          <a role="button" class="page-link"
             (click)="changePage(studentInfoPage.number - 4)">{{studentInfoPage.number - 3}}</a>
        </li>
        <li class="page-item" *ngIf="studentInfoPage.number - 2 > 0">
          <a role="button" class="page-link"
             (click)="changePage(studentInfoPage.number - 3)">{{studentInfoPage.number - 2}}</a>
        </li>
        <li class="page-item" *ngIf="studentInfoPage.number - 1 > 0">
          <a role="button" class="page-link"
             (click)="changePage(studentInfoPage.number - 2)">{{studentInfoPage.number - 1}}</a>
        </li>
        <li class="page-item" *ngIf="studentInfoPage.number > 0">
          <a role="button" class="page-link"
             (click)="changePage(studentInfoPage.number - 1)">{{studentInfoPage.number}}</a>
        </li>
        <li class="page-item active"><a class="page-link">{{studentInfoPage.number + 1}}</a></li>
        <li class="page-item" *ngIf="studentInfoPage.number + 2 <= studentInfoPage.totalPages">
          <a role="button" class="page-link"
             (click)="changePage(studentInfoPage.number + 1)">{{studentInfoPage.number + 2}}</a>
        </li>
        <li class="page-item" *ngIf="studentInfoPage.number + 3 <= studentInfoPage.totalPages">
          <a role="button" class="page-link"
             (click)="changePage(studentInfoPage.number + 2)">{{studentInfoPage.number + 3}}</a>
        </li>
        <li class="page-item" *ngIf="studentInfoPage.number + 4 <= studentInfoPage.totalPages">
          <a role="button" class="page-link"
             (click)="changePage(studentInfoPage.number + 3)">{{studentInfoPage.number + 4}}</a>
        </li>
        <li class="page-item" *ngIf="studentInfoPage.number + 5 <= studentInfoPage.totalPages">
          <a role="button" class="page-link"
             (click)="changePage(studentInfoPage.number + 4)">{{studentInfoPage.number + 5}}</a>
        </li>
        <li class="page-item" [ngClass]="studentInfoPage.last ? 'disabled': ''">
          <a role="button" class="page-link"
             (click)="changePage(studentInfoPage.number + 1)">></a>
        </li>
        <li class="page-item" [ngClass]="studentInfoPage.last ? 'disabled': ''">
          <a role="button" class="page-link"
             (click)="changePage(studentInfoPage.totalPages - 1)">
            Trang cuối
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
