<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card my-3">
        <div class="card-body">
          <h2 class="card-title text-isLoggedIncenter"> THÔNG TIN CHI TIẾT</h2>
          <img src="{{studentDetail.studentImg}}" class="card-img-top w100"  style="height: 40%;width: 40%; float: left" alt="...">
          <div class="mb-3">
            <span><label class="form-label">Họ và tên:</label></span>
            <span *ngIf="studentDetail">{{studentDetail.studentName}}</span>
          </div>

          <div class="mb-3">
            <span><label class="form-label">Số điện thoại: </label></span>
            <span *ngIf="studentDetail">{{studentDetail.studentPhoneNumber}}</span>
          </div>
          <div class="mb-3">
            <span><label class="form-label">Email:</label></span>
            <span *ngIf="studentDetail">{{studentDetail.studentEmail}}</span>
          </div>
          <div class="mb-3">
            <span><label class="form-label"> Địa chỉ:</label></span>
            <span *ngIf="studentDetail">{{studentDetail.studentAddress}}</span>
          </div>

          <div class="mb-3" style="text-align: right">
            <button *ngIf="studentDetail" type="button" class="btn btn-outline-secondary">Thoát</button>&nbsp;

            <button type="button" class="btn  btn-outline-info" routerLink="change-password">Thay đổi mật khẩu</button>
          </div>
        </div>
      </div>
    </div>
  </div>
