<!-- Header Start -->
<div class="container-fluid bg-primary px-0 px-md-5 mb-5">
  <div class="row align-items-center px-3">
    <div class="col-lg-6 text-center text-lg-left">
      <h4 class="text-white mb-4 mt-5 mt-lg-0">Tuyển sinh thạc sỹ</h4>
      <h1 class="display-3 font-weight-bold text-white">
        Tiếp Cận Với Giáo Dục Chuyên Nghiệp
      </h1>
      <p class="text-white mb-4">
        Tại Đại học chúng tôi tôn vinh sự sáng tạo và khám phá, và cam kết giúp các sinh viên trang bị kiến
        thức, kỹ năng và tư duy cần thiết để đạt được thành công trong cuộc sống và sự nghiệp của mình.
      </p>
      <a href="" class="btn btn-secondary mt-1 py-3 px-5">Tìm hiểu thêm</a>
    </div>
    <div class="col-lg-6 text-center text-lg-right">
      <img class="img-fluid mt-5" src="assets/img-1.png" alt=""/>
    </div>
  </div>
</div>
<!-- Header End -->
