<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h2 class="card-title text-isLoggedIncenter"> ĐĂNG NHẬP HỆ THỐNG</h2>
          <form class="form-signin" [formGroup]="formLogin" (ngSubmit)="onSubmit()">
            <div class="form-label-group">
              <input autofocus type="text" id="inputEmail" class="form-control"
                     placeholder="Email" formControlName="username">
            </div>
            <div class="form-label-group">
              <input type="password" id="inputPassword" class="form-control"
                     placeholder="Mật khẩu" formControlName="password">

              <div class="remember">
                <div class="custom-control custom-checkbox mb-3">
                  <input type="checkbox" class="custom-control-input" id="customCheck1" formControlName="rememberMe">
                  <label class="custom-control-label" for="customCheck1">Nhớ mật khẩu?</label>
                </div>

                <div>
                  <p><a href="" routerLink="/reset-password" data-dismiss="modal">Quên mật khẩu?</a></p>
                </div>

              </div>

            </div>
            <button class="btn btn-lg btn-info text-uppercase" type="submit">Đăng nhập</button>
            <button class="btn btn-lg btn-secondary text-uppercase"  type="button" routerLink="">
              Huỷ
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
