<div class="container-fluid">

  <div class="row">
    <div class="col-12">
      <h2 class="text-primary mt-3 text-center">ĐĂNG KÝ NHÓM SINH VIÊN</h2>
    </div>
  </div>

  <div class="row justify-content-end mb-3">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="input-group">
        <input type="text" class="form-control rounded-pill mg-left" placeholder="Tên sinh viên hoặc MSSV"
               id="groups-search"
               [(ngModel)]="searchStr">
        <button class="btn btn-outline-primary rounded-pill" (click)="onSearch()">Tìm kiếm</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="container">
      <div class="row mx-auto fixed-height">
        <div class="col-lg-3 col-ld-6 col-sm-12" *ngFor="let student of listSearchStudent" >
          <div class="card">
            <img src="{{student.studentImg}}" class="card-img-top img-card">
            <div class="card-body">
              <h5 class="card-title text-center text-primary text-truncate">{{student.studentName}}</h5>
              <p class="card-text">
                <label><img src="../../../../assets/img/icons8-class-48.png" width="28px" height="28px"></label>
                <label><b>&ensp;MSSV: </b></label>
                <label>&ensp;{{student.studentCode}}</label>
              </p>
              <p class="card-text">
                <label><img src="../../../../assets/img/birth-day.png" width="28px" height="17px"></label>
                <label><b>&ensp;Ngày sinh: </b></label>
                <label>&ensp;{{student.studentDateOfBirth}}</label>
              </p>
            </div>
            <div class="card-body d-flex justify-content-center">
              <button type="button" class="btn btn-outline-success" (click)="addStudent(student.studentId)">Đăng ký
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <div class="div-paginable mg-top">
          <div *ngIf="teamPage" class="d-flex justify-content-center" id="last-row">
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item" [ngClass]="teamPage.first ? 'disabled': ''">
                  <a role="button" class="page-link" (click)="changePage(0)">Trang đầu</a>
                </li>
                <li class="page-item" [ngClass]="teamPage.first ? 'disabled': ''">
                  <a role="button" class="page-link" (click)="changePage(teamPage.number - 1)"><</a>
                </li>
                <li class="page-item" *ngIf="teamPage.number - 3 > 0">
                  <a role="button" class="page-link"
                     (click)="changePage(teamPage.number - 4)">{{teamPage.number - 3}}</a>
                </li>
                <li class="page-item" *ngIf="teamPage.number - 2 > 0">
                  <a role="button" class="page-link"
                     (click)="changePage(teamPage.number - 3)">{{teamPage.number - 2}}</a>
                </li>
                <li class="page-item" *ngIf="teamPage.number - 1 > 0">
                  <a role="button" class="page-link"
                     (click)="changePage(teamPage.number - 2)">{{teamPage.number - 1}}</a>
                </li>
                <li class="page-item" *ngIf="teamPage.number > 0">
                  <a role="button" class="page-link"
                     (click)="changePage(teamPage.number - 1)">{{teamPage.number}}</a>
                </li>
                <li class="page-item active"><a class="page-link">{{teamPage.number + 1}}</a></li>
                <li class="page-item" *ngIf="teamPage.number + 2 <= teamPage.totalPages">
                  <a role="button" class="page-link"
                     (click)="changePage(teamPage.number + 1)">{{teamPage.number + 2}}</a>
                </li>
                <li class="page-item" *ngIf="teamPage.number + 3 <= teamPage.totalPages">
                  <a role="button" class="page-link"
                     (click)="changePage(teamPage.number + 2)">{{teamPage.number + 3}}</a>
                </li>
                <li class="page-item" *ngIf="teamPage.number + 4 <= teamPage.totalPages">
                  <a role="button" class="page-link"
                     (click)="changePage(teamPage.number + 3)">{{teamPage.number + 4}}</a>
                </li>
                <li class="page-item" *ngIf="teamPage.number + 5 <= teamPage.totalPages">
                  <a role="button" class="page-link"
                     (click)="changePage(teamPage.number + 4)">{{teamPage.number + 5}}</a>
                </li>
                <li class="page-item" [ngClass]="teamPage.last ? 'disabled': ''">
                  <a role="button" class="page-link"
                     (click)="changePage(teamPage.number + 1)">></a>
                </li>
                <li class="page-item" [ngClass]="teamPage.last ? 'disabled': ''">
                  <a role="button" class="page-link"
                     (click)="changePage(teamPage.totalPages - 1)">
                    Trang cuối
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h5 class="text-primary mt-3 text-center">Danh sách thành viên của nhóm</h5>
    </div>
  </div>

  <div class="row">
    <div class="container">
      <div class="row mx-auto">
        <div class="col-md-12 col-lg-12 col-ld-12 col-sm-12">
          <div class="table-responsive table-shadow">
            <table class="table fix-height">
              <thead class="table-info">
              <tr>
                <th scope="col">STT</th>
                <th scope="col">MSSV</th>
                <th scope="col">Tên sinh viên</th>
                <th scope="col">Ngày sinh</th>
                <th scope="col"></th>
              </tr>
              </thead>
              <tbody *ngIf="listTeam.length > 0; else noMembers">
              <tr *ngFor="let student of listTeam; let i = index">
                <th scope="row">{{i + 1}}</th>
                <td>{{student.studentCode}}</td>
                <td>{{student.studentName}}</td>
                <td>{{student.studentDateOfBirth}}</td>
                <td>
                  <button type="button" class="btn btn-outline-danger" (click)="delete(student.studentId)">Hủy</button>
                </td>
              </tr>
              </tbody>
              <ng-template #noMembers>
                <tbody>
                <tr style="text-align: center">
                  <td colspan="5">Danh sách rỗng.</td>
                </tr>
                </tbody>
              </ng-template>
            </table>
          </div>
        </div>
      </div>
      <div class="row justify-content-center mg-top">
      <span class="d-flex justify-content-center">
        <button type="button" class="btn btn-outline-secondary" [disabled]="listTeam.length === 0" (click)="onSubmit()">
          Tạo nhóm
        </button>
      </span>
      </div>
    </div>
  </div>

</div>


<script>
  const cards = document.querySelectorAll('.card');

  cards.forEach(card => {
    card.addEventListener('mousemove', (e) => {
      const cardX = card.offsetLeft;
      const cardY = card.offsetTop;
      const mouseX = e.pageX;
      const mouseY = e.pageY;
      const cardWidth = card.offsetWidth;
      const cardHeight = card.offsetHeight;
      const centerX = cardX + cardWidth / 2;
      const centerY = cardY + cardHeight / 2;
      const deltaX = mouseX - centerX;
      const deltaY = mouseY - centerY;
      const rotateX = deltaY / 10;
      const rotateY = deltaX / -10;
      card.style.transform = `rotateX(${rotateX}deg) rotateY(${rotateY}deg)`;
    });

    card.addEventListener('mouseleave', () => {
      card.style.transform = `rotateX(0deg) rotateY(0deg)`;
    });
  });
</script>
