.bg-secondary {
  background-color: #00394f !important;
}


.text-primary {
  color: #17a2b8 !important;
}

.card {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0.9;
}

.card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
  opacity: 1;
}

.table-shadow {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}


.mg {
  margin-top: 1rem;
  margin-bottom: -3rem;
}

.mg-top {
  margin-top: 2rem;
}

.pagination-ellipsis {
  padding: 0 5px;
}

.fixed-height {
  height: 75vh;
}

@media (max-width: 768px) {
  .fixed-height {
    overflow-y: scroll;
  }
}

.fixed-height-table {
  height: 40vh;
  overflow-y: scroll;
}

.fix-height {
  height: 40vh;
}


.bg {
  background-color: #ECECEC
}


.mg-left {
  margin-right: 0.5rem;
}

.scrollable {
  overflow-y: auto;
}

.img-card {
  max-width: 60vh;
  height: 40vh;
}
