<h2 style="color: #14a2b8; margin-top: 1%; display: flex; justify-content: center">LỊCH SỬ FILE BÁO CÁO</h2>
<div style="font-size: large" class="tab-pane container-fluid" id="profile" role="tabpanel"
     aria-labelledby="profile-tab">

  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
      <div class="row mt-2" style="margin-bottom: 2%">
        <div class="col-md-2">
          <div class="row-action" style="margin-bottom: 2%">
            <div class="row">
              <a routerLink="/progress/report/{{projectId}}/{{stageId}}"
                 style="text-decoration: none">
                <button type="button" class="btn btn-outline-info  mx-auto"
                        style="border-radius: 15px;">Quay lại
                </button>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-8">
              <input id="searchTerm" #searchFileName class="form-control rounded-pill" type="search"
                     placeholder="Nhập tên file muốn tìm..."
                     aria-label="Search">
            </div>
            <div class="col-md-4">
              <button class="btn btn-outline-info button-search rounded-pill form-control" type="button"
                      (click)="search(searchFileName.value)">Tìm kiếm
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row-table">
        <div class="d-flex justify-content-center ">

          <table class="table table-bordered table-hover" style="background-color: white;
              box-shadow: 0 0 20px 0 #253365;">
            <thead class="table-info">
            <tr>
              <th scope="col" style="text-align: center">STT</th>
              <th scope="col" style="text-align: center">Tên file</th>
              <th scope="col" style="text-align: center">Thời gian báo cáo</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngIf="flag">
              <td colspan="3"><h5 class="text-danger text-center">Danh sách file báo cáo trống </h5></td>
            </tr>
            <tr
              *ngFor="let progressReport of progressReportPage ; index as i">
              <td style="text-align: center">{{i + 1}}</td>
              <td><span>{{progressReport.progressReportFileName}}</span><a [href]="progressReport.progressReportFile"
                                                                           download=""
                                                                           target="_blank"><img class="mx-2"
                                                                                                width="30px"
                                                                                                height="30px"
                                                                                                src="../../../../assets/img/progress_report_icon_img/file_download_icon.png"
                                                                                                alt="">

              </a></td>
              <td style="text-align: center">{{progressReport.progressReportTime}}</td>
            </tr>
            <tr></tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
  <div class="row"></div>
  <br>
</div>


<div style="margin-top: 10px">
  <div *ngIf="teamPage" class="d-flex justify-content-center" id="last-row">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item" [ngClass]="teamPage.first ? 'disabled': ''">
          <a role="button" class="page-link" (click)="changePage(0)">Trang đầu</a>
        </li>
        <li class="page-item" [ngClass]="teamPage.first ? 'disabled': ''">
          <a role="button" class="page-link" (click)="changePage(teamPage.number - 1)"><</a>
        </li>
        <li class="page-item" *ngIf="teamPage.number - 3 > 0">
          <a role="button" class="page-link"
             (click)="changePage(teamPage.number - 4)">{{teamPage.number - 3}}</a>
        </li>
        <li class="page-item" *ngIf="teamPage.number - 2 > 0">
          <a role="button" class="page-link"
             (click)="changePage(teamPage.number - 3)">{{teamPage.number - 2}}</a>
        </li>
        <li class="page-item" *ngIf="teamPage.number - 1 > 0">
          <a role="button" class="page-link"
             (click)="changePage(teamPage.number - 2)">{{teamPage.number - 1}}</a>
        </li>
        <li class="page-item" *ngIf="teamPage.number > 0">
          <a role="button" class="page-link"
             (click)="changePage(teamPage.number - 1)">{{teamPage.number}}</a>
        </li>
        <li class="page-item active"><a class="page-link">{{teamPage.number + 1}}</a></li>
        <li class="page-item" *ngIf="teamPage.number + 2 <= teamPage.totalPages">
          <a role="button" class="page-link"
             (click)="changePage(teamPage.number + 1)">{{teamPage.number + 2}}</a>
        </li>
        <li class="page-item" *ngIf="teamPage.number + 3 <= teamPage.totalPages">
          <a role="button" class="page-link"
             (click)="changePage(teamPage.number + 2)">{{teamPage.number + 3}}</a>
        </li>
        <li class="page-item" *ngIf="teamPage.number + 4 <= teamPage.totalPages">
          <a role="button" class="page-link"
             (click)="changePage(teamPage.number + 3)">{{teamPage.number + 4}}</a>
        </li>
        <li class="page-item" *ngIf="teamPage.number + 5 <= teamPage.totalPages">
          <a role="button" class="page-link"
             (click)="changePage(teamPage.number + 4)">{{teamPage.number + 5}}</a>
        </li>
        <li class="page-item" [ngClass]="teamPage.last ? 'disabled': ''">
          <a role="button" class="page-link"
             (click)="changePage(teamPage.number + 1)">></a>
        </li>
        <li class="page-item" [ngClass]="teamPage.last ? 'disabled': ''">
          <a role="button" class="page-link"
             (click)="changePage(teamPage.totalPages - 1)">
            Trang cuối
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
