.shadow {
  box-shadow: 0 0 10px rgba(0.5,0,0,0.5);
}

.mg-bottom {
  margin-bottom: 4vh;
}

.fixed-height {
  height: 52.8vh;
  overflow-y: scroll;
}

.table-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.mg-top {
  margin-top: 5vh;
}

.mg-left {
  margin-right: 0.5rem;
}
